<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <div class="container">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title_id"
            aria-describedby="title"
          />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea
            name="body"
            id="body_id"
            class="form-control"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Cover Image</label>
          <input type="file" name="image" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include("./partials/script") %>
  </body>
</html>
